    <div class="login-container">
        <h2>LOGIN</h2>
        <form id="login-form">
            <div class="form-group">
                <label for="name-signup">Name</label>
                <input type="text" id="name-signup" name="name" required>
            </div>
            <div class="form-group">
                <label for="email-signup">Email</label>
                <input type="email" id="email-signup" name="email" required>
            </div>
            <div class="form-group">
                <label for="password-signup">Password:</label>
                <input type="password" id="password-signup" name="password" required>
            </div>
            <div class="form-group">
                <button type="submit">Sign Up</button>
            </div>
        </form>
        <p>Already have an account? <a href="/login">Login up here</a></p>
    </div>